
.mainDiv{
    width: 100%;
    display: flex;
}

.dashboard{
    width: 81%;
    height: 100vh;
    background-color: #212121;
    display: flex;
}

.practice{
    width: 350px;
    height: 300px;
    box-shadow: 4px 4px 4px 10px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.name{
    color: blue;
    font-size: 17px;
}

.age{
    color: brown;
    font-size: 15px;
}

.image{
    width: 70%;
    height: 100px;
}

